body {
    background: hsl(201, 100%, 22%) url(background.jpg);
}

.image {
    width: 60%;
    height: 60%;
    align-items: center;
}

.text {
    color: rgb(160, 250, 157);
    font-size: medium;
    padding: 0%;
    text-align: center;
    text-decoration:solid;
}

.list {
    color: rgb(255, 255, 255);
    align-items: center;
    list-style-type: disc;
}

.hyper {
    color: rgb(255, 123, 0)
}

li {
    margin: 20px 0;
}